
.login-container {
    display: block !important;
    flex: none !important;
    width: 100% !important;
    max-width: none !important;
}


.settings-cog{
    top: 140px !important; 
    left:280px !important;
}

