/* Centrar contenido de celdas */
.mat-column-sap,
.mat-column-planificar,
.mat-column-rechazar {
  text-align: center !important;
  justify-content: center !important;

  .mat-mdc-icon-button {
    margin: 0 auto; /* Centra el botón horizontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Opcional: Ajustar el header también */
.mat-mdc-header-cell.mat-column-sap,
.mat-mdc-header-cell.mat-column-planificar,
.mat-mdc-header-cell.mat-column-rechazar {
  text-align: center !important;
  justify-content: center !important;
}

::ng-deep .fuse-confirmation-dialog {
  .mat-mdc-dialog-title {
    font-size: 18px;
    font-weight: 600;
  }

  textarea {
    min-height: 120px !important;
    resize: vertical;
  }

  .mat-mdc-dialog-actions {
    justify-content: flex-end;

    button.mat-mdc-button-base.mat-warn {
      background-color: #EB1B24;
      color: white;
      border-radius: 20px;
      padding: 0 20px;
    }
  }
}

