/* You can add global styles to this file, and also import other style files */
::ng-deep .fuse-confirmation-dialog-panel .mat-mdc-button-base.mat-primary {
  background-color: #041653 !important;
  color: white !important;
  border-radius: 4px;
  padding: 0 16px;
}

::ng-deep .fuse-confirmation-dialog-panel .mat-mdc-button-base.mat-primary:hover {
  background-color: #032B80 !important;
}
