/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@use 'variables' as vars;
@use 'material-theme' as mat-theme;

@include mat-theme.apply-material-theme;

.bg-primary-cer {
    background-color: var(--color-primary) !important;

}

.bg-primary-neutral-light {
    background-color: var(--color-neutral-light) !important;
}

.text-error {
    color: var(--color-error) !important;
}

.text-success {
    color: var(--color-positive) !important;
}

.main-color-disabled {
    color: var(--color-disable) !important;
}

.main-color-grey {
    color: var(--color-grey) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.text-black {
    color: #000 !important;
}

.text-color-neutral-light {
    color: var(--color-neutral-light) !important;
}

.text-color-neutral-dark {
    color: var(--color-neutral-dark) !important;
}

.main-brand-color {
    color: var(--color-primary) !important; // úsalo como verde institucional
}

.main-brand-color-secondary {
    color: var(--color-secondary) !important;
}

.main-brand-bg {
    background-color: var(--color-primary) !important;

    &-secondary {
        background-color: var(--color-secondary) !important;
    }

    &-positive {
        background-color: var(--color-positive) !important;
    }

    &-error {
        background-color: var(--color-error) !important;
    }
}

.main-container-bg {
    background-color: var(--color-bg) !important;
}

// definiciones de colores para botones
.button {
    &-primary {
        background-color: var(--color-primary) !important;
        color: var(--color-neutral-light) !important;
    }

    &-outline {
        background-color: transparent !important;
        color: var(--color-neutral-dark) !important;
    }

    &-disabled {
        background-color: var(--color-disable) !important;
        color: var(--color-grey) !important;
    }

    &-secondary {
        background-color: var(--color-secondary) !important;
        color: var(--color-neutral-light) !important;
    }

    &-success {
        background-color: var(--color-positive) !important;
        color: var(--color-neutral-light) !important;
    }

    &-error {
        background-color: var(--color-error) !important;
        color: var(--color-neutral-light) !important;
    }

    &-warning {
        background-color: var(--color-warning) !important;
        color: var(--color-neutral-light) !important;
    }

    &-cancel {
        background-color: var(--color-cancel) !important;
        color: var(--color-neutral-dark) !important;
    }
}

// sombras contenedores
.container-card-shadow-md {
    box-shadow: 0px 5px 8px 0px var(--color-shadow-light) !important;
}

// breadcrumbs miscelaneo
.breadcrumb-item {
    color: var(--color-secondary) !important;
    font-weight: var(--font-weight-regular) !important;
    font-size: var(--font-size-body-2) !important;

    &-separator {
        color: var(--color-neutral-dark) !important;
    }

    &-active {
        color: var(--color-secondary) !important;
        font-weight: var(--font-weight-regular) !important;
        font-size: var(--font-size-body-2) !important;
        // filter: saturate(
        //     200%
        // ); /* incrementar la saturación para elemento activo del breadcrumb */
    }
}

.table-main {
    &-vertical-height {
        @apply h-[60dvh];
    }

    &-z-index {
        z-index: 10 !important;
    }
}

