/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */



.bg-primary-cer {
    background-color: #EB1B24 !important;
}

.coro-table-header{
    background-color: #EB1B24 !important;
    color: white !important;
    font-weight: bold;
}